
.demo {
  border: 1px solid black;
}
.pending {
  color: red;
}
.done {
  color: green;
}
.radiocontainer {
display: inline-block;
position: relative;
cursor: pointer;
user-select: none;
}
.radiocontainer input{
  display:"";
}
.radiocontainer.circle{
  display: inline-block;
  position: absolute;
  border-radius: 50px;
}
.radiocontainer:hover .circle{
  background-color: azure;
}
.radiocontainer input:checked + .circle{
  background-color: blue;
}

.container{
  width:900px;
  padding: 7% 50px;
  margin: 0 auto;
}
a{
  width: 180px;
  display: inline-block;
  margin: 5% 20px;
  padding: 20px 0px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  font-weight: bold;
  color:  #fff;
  position: relative;
  text-decoration: none;
  letter-spacing: 1.5px;
}
a:nth-child(Add Task){
  background: linear-gradient(-45deg,blue,red);
}
