<!--h1>Hello Govardhana Reddy welcome</h1-->
<!--button (click)="onButtonClick()">click</button>
<br>
<input type="text"(keyup)="onKeyUp()">
<br>
<input type="text" [value]="str" [disabled]="flag">
<br-->
<!--body style="background-color: coral;">
<input type="number"[(ngModel)] ="a">
<input type="number"[(ngModel)] ="b">
<button (click) = "onAddClick()">Add</button>
<h1>sum is {{sum}}</h1>
<br>
<input type="number"[(ngModel)] ="c">
<input type="number"[(ngModel)] ="d">
<button (click) = "onsubClick()">sub</button>
<h1>substraction is {{sub}}</h1>
<br>
<input type="number"[(ngModel)] ="e">
<input type="number"[(ngModel)] ="f">
<button (click) = "onmulClick()">mul</button>
<h1>multiplication is {{mul}}</h1>
<br>
<input type="number"[(ngModel)] ="g">
<input type="number"[(ngModel)] ="h">
<button (click) = "ondivClick()">div</button>
<h1>division is {{div}}</h1>
</body-->
  <!-- <app-todos></app-todos> -->
  <!--app-login></app-login-->
  <!--app-newdemo></app-newdemo-->
  <!--app-task5></app-task5-->
  <!--app-hide></app-hide-->
  <!--app-directives></app-directives-->
  <!--app-practice></app-practice-->
  <!--app-pipes></app-pipes-->
  <!--app-parent></app-parent-->
  <app-header></app-header>
  <router-outlet></router-outlet>
  <!--app-employee></app-employee-->
  <!--app-products></app-products-->
<!-- <app-database></app-database> -->


